<?xml version="1.0" encoding="UTF-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.google.zxing.client.android">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <!-- unavailable in API 23 -->
    <uses-permission android:name="com.android.browser.permission.READ_HISTORY_BOOKMARKS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <uses-feature android:name="android.hardware.camera.any" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.flash"
        android:required="false" />
    <uses-feature android:name="android.hardware.screen.portrait" />

    <application
        android:allowBackup="true">
        <!--<activity-->
            <!--android:name=".CaptureActivity"-->
            <!--android:clearTaskOnLaunch="true"-->
            <!--android:screenOrientation="portrait"-->
            <!--android:stateNotNeeded="true"-->
            <!--android:theme="@style/CaptureTheme"-->
            <!--android:windowSoftInputMode="stateAlwaysHidden">-->
            <!--<intent-filter>-->
                <!--<action android:name="com.google.zxing.client.android.SCAN" />-->
                <!--<category android:name="android.intent.category.DEFAULT" />-->
            <!--</intent-filter>-->
            <!--&lt;!&ndash; Allow web apps to launch Barcode Scanner by linking to http://zxing.appspot.com/scan. &ndash;&gt;-->
            <!--&lt;!&ndash;<intent-filter>&ndash;&gt;-->
                <!--&lt;!&ndash;<action android:name="android.intent.action.VIEW" />&ndash;&gt;-->

                <!--&lt;!&ndash;<category android:name="android.intent.category.DEFAULT" />&ndash;&gt;-->
                <!--&lt;!&ndash;<category android:name="android.intent.category.BROWSABLE" />&ndash;&gt;-->

                <!--&lt;!&ndash;<data&ndash;&gt;-->
                    <!--&lt;!&ndash;android:host="zxing.appspot.com"&ndash;&gt;-->
                    <!--&lt;!&ndash;android:path="/scan"&ndash;&gt;-->
                    <!--&lt;!&ndash;android:scheme="http" />&ndash;&gt;-->
            <!--&lt;!&ndash;</intent-filter>&ndash;&gt;-->

            <!--&lt;!&ndash; We also support a Google Product Search URL. &ndash;&gt;-->
            <!--&lt;!&ndash;<intent-filter>&ndash;&gt;-->
                <!--&lt;!&ndash;<action android:name="android.intent.action.VIEW" />&ndash;&gt;-->

                <!--&lt;!&ndash;<category android:name="android.intent.category.DEFAULT" />&ndash;&gt;-->
                <!--&lt;!&ndash;<category android:name="android.intent.category.BROWSABLE" />&ndash;&gt;-->

                <!--&lt;!&ndash;<data&ndash;&gt;-->
                    <!--&lt;!&ndash;android:host="www.google.com"&ndash;&gt;-->
                    <!--&lt;!&ndash;android:path="/m/products/scan"&ndash;&gt;-->
                    <!--&lt;!&ndash;android:scheme="http" />&ndash;&gt;-->
            <!--&lt;!&ndash;</intent-filter>&ndash;&gt;-->
        <!--</activity>-->

        <activity
            android:name="com.google.zxing.client.android.jdRefactor.ui.CaptureActivity2"
            android:clearTaskOnLaunch="true"
            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden"
            android:stateNotNeeded="true"
            android:theme="@style/CaptureTheme"
            android:windowSoftInputMode="stateAlwaysHidden"/>
        <!--<activity-->
            <!--android:name=".PreferencesActivity"-->
            <!--android:label="@string/preferences_name"-->
            <!--android:stateNotNeeded="true" />-->
        <activity
            android:name=".encode.EncodeActivity"
            android:stateNotNeeded="true">
            <intent-filter>
                <action android:name="com.google.zxing.client.android.ENCODE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <!-- This allows us to handle the Share button in Contacts. -->
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/x-vcard" />
            </intent-filter>
            <!-- This allows us to handle sharing any plain text . -->
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity>

        <activity
            android:name=".share.ShareActivity"
            android:screenOrientation="user"
            android:stateNotNeeded="true">
            <intent-filter>
                <action android:name="com.google.zxing.client.android.SHARE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".history.HistoryActivity"
            android:label="@string/history_title"
            android:stateNotNeeded="true" />
        <activity
            android:name=".share.BookmarkPickerActivity"
            android:label="@string/bookmark_picker_name"
            android:stateNotNeeded="true" />
        <activity
            android:name=".share.AppPickerActivity"
            android:label="@string/app_picker_name"
            android:stateNotNeeded="true" />
        <activity
            android:name=".HelpActivity"
            android:label="@string/menu_help"
            android:screenOrientation="user"
            android:stateNotNeeded="true" />
    </application>

</manifest>
